*{
	margin: 0;
	padding: 0;
}
.header{
	width: 100%;
	height: 80px;
	color: #fff;
	background-color: #07cbc9;
	position: fixed;
	z-index: 3;
	overflow: hidden;
}
.clear{
	clear: both;
}
.header img{
	width: 260px;
	padding-left: 80px;
	padding-top: 15px;
}
.header .logo{
	float: left;
}
.header .nav{
	float: right;
	min-width: 680px;
}
.header .nav ul{
	padding-right: 80px;	
}
.header .nav ul li{
	float: left;
	list-style: none;
	width: 100px;
	height: 80px;
	line-height: 80px;
	font-weight: bold;
	font-family: "微软雅黑";
}
.header .nav a{
	text-decoration: none;
	color: #fff;
}
.header .nav a:hover{
	color: orange;
}
.banner img{
	padding-top:80px;
	width: 100%;
	height: 600px;
}
.topLayer{
	position: absolute;
	top: 80px;
	left: 0;
	background-color: #000;
	width: 100%;
	height: 600px;
	opacity: 0.3;
}
.topLayer-top{
	width: 600px;
	height: 400px;
	position: absolute;
	top:380px;
	margin-top: -200px;
	right: 50%;
	margin-right: -300px;
	z-index: 2;
}
.topLayer-top .info{
	text-align: center;
}
.topLayer-top .info input{
	display: block;
	width: 505px;
	height: 39px;
	border:2px solid gray;
	margin-top: 15px;
	margin-left: 45.5px;
	background-color: transparent;
}
.topLayer-top .info textarea{
	width: 505px;
	height: 115px;
	border:2px solid gray;
	margin-top: 15px;
	background-color: transparent;
}
.topLayer form input{
	border:2px solid #07cbc9；
}
.topLayer-top .button{
	width: 123px;
	height: 39px;
	border:2px solid gray;
	margin-top:15px;
	margin-left: 236.5px;
	background-color: transparent;
}
.topLayer-top button:hover{
	border:none;
	background-color: #07cbc9;
}
.aboutzone{
	width: 100%;
	background-color: #fff;
}
.aboutzone .top{
	text-align: center;
}
.aboutzone .top h1{
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 20px;
}

.aboutzone .top h1 span{
	padding-bottom: 10px;
	border-bottom: 2px solid #07cbc9;
}
.aboutzone .top p{
	padding-top: 10px;
	color: gray;
}
.aboutzone .middle{
	width: 90%;
	height: 380px;
	margin: 0 auto;
	position: relative;
	font-family: "微软雅黑";
	overflow: hidden;
}
.aboutzone .middle .m-left,.m-middle,.m-right{
	float: left;
	height: 380px;
	margin: 10px;
}
.aboutzone .middle .m-left{
	width: 20%;
	min-width: 220px;
}
.aboutzone .middle .m-left h2{
	margin-left: -80px;
	text-align: center;
}
.aboutzone .middle .m-left .aboutUs{
	min-width: 328px;
	height: 204px;
	border:1px gray solid;
	text-align: left;
	padding: 20px;
	background-color: transparent;
	position: absolute;
	z-index: 2;
}
.aboutzone .middle .m-left button{
	width: 102px;
	height: 45px;
	margin-top:20px;
	background-color: #000;
	color: #fff;
	font-weight: bold;
	font-size: 16px; 
}
.aboutzone .middle .m-left .aboutUs button:hover{
	background-color: transparent;
	border:1px solid #000;
}
.aboutzone .middle .m-middle{
	width: 50%;
	min-width: 568px;
}
.aboutzone .middle .m-middle img{
	width: 568px;
	height: 380px;
}
.aboutzone .middle .m-right{
	width: 20%;
	min-width: 220px;
}
.aboutzone .middle .m-right .students,.faculty{
	width:236px;
	height: 142px;
	border:1px solid #07cbc9;
	margin-bottom: 50px;
	text-align: center; 
}
.aboutzone .middle .m-right .students .number,
.faculty .number{
	height: 70px;
	line-height: 70px;
	font-size: 36px;
	font-weight: bolder;
}

.aboutzone .middle .m-right .students .job,
.faculty .job{
	height: 70px;
	line-height: 70px;
	font-size: 24px;
}
.aboutzone .middle .m-right .line{
	width: 40px;
	height: 2px;
	background-color: #07cbc9;
	margin-left: 98px;
}
.aboutzone .bottom{
	width: 100%;
	height: 592px;
	background-color: #07cbc9;
	margin-top: 100px;
	/*overflow: hidden;*/
}
.aboutzone .bottom .campus{
	float: left;
	width: 25%;
}
.aboutzone .bottom .campus img{
	width: 100%;
	min-width: 296px;
	max-height: 296px;
}
.aboutzone .bottom .campus .content{ 
	min-width: 296px;
	height: 276px;
	padding: 10px;
	color: #fff;
}
.aboutzone .bottom .campus .content .title{
	font-size: 30px;
	padding-bottom: 10px;
}
.aboutzone .bottom .campus .content .intro{
	font-size: 16px;
	padding-bottom: 10px;
}
.aboutzone .bottom .campus .content .des{
	font-size: 10px;
	padding-bottom: 10px;
}
.aboutzone .bottom .campus .content button{
	width: 102px;
	height: 45px;
	background-color: #000;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 6px;
}
.aboutzone .bottom .campus .content button:hover{
	background-color: transparent;
	border:1px solid #000;
}
.gallery{
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.gallery .topside{
	position: relative;
}
.gallery .topside h1{
	padding-bottom:10px; 
}
.gallery .galleryLine{
	width: 40px;
	height: 3px;
	background-color: #07cbc9;
	position: absolute;
	left:50%;
	margin-left: -20px;
}
.gallery .topside .galleryIntro{
	padding-top:10px;
	color: gray; 
}
.gallery .g-middle{
	margin: 20px 10%;
}
.gallery .g-middle dl{
	width: 360px;
	min-width: 360px;
	height: 304px;
	margin: 10px;
	float: left;
}
.gallery .g-middle dl dt{
	width: 360px;
	height: 240px;
}
.gallery .g-middle dl dd{
	width: 350px;
	height: 64px;
	background-color: #000;
	color: #fff;
	text-align: left;
	padding-left: 10px;
	line-height: 64px;
	font-size: 20px;
}
div.footer{
	width: 100%;
	background-color: #07cbc9;
	height: 80px;
	margin-top:60px;
	text-align: center;
	line-height: 80px;
	color: #fff;
}














